fastapi
uvicorn
pydantic
python-dotenv
requests
sqlalchemy
pymysql
jinja2
httpx
pydantic-settings
pymongo
sqlalchemy
psycopg2-binary
pydantic-settings
supabase
motor
pandas
openpyxl
typing
python-multipart
apscheduler
aiofiles
PyJWT
OpenAI