{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">
            <i class="fas fa-building"></i> Customers Management
        </h1>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5><i class="fas fa-users"></i> Customer Management</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info-circle"></i> Customer management functionality will be implemented here.
        </div>
    </div>
</div>
{% endblock %}
